@media only screen and (max-width: 1300px) {

    .page_with_right_block .blogposts-wrapper {
        display: block;
    }

    .page_with_right_block .blogposts-wrapper .blogpost {
        width: 100%;
        max-width: none;
    }

    .page_with_right_block .blogposts-wrapper .blogpost:not(:first-child) {
        margin-top: 20px;
    }

    .blogpost-header h3 a {
        font-size: 20px;
        font-weight: 900;
    }

    .blog #quote-wrapper {
        max-width: none;
        width: auto;
        transform: none;
        left: 0;
        text-align: left;
        padding-left: 30px;
        margin-bottom: 8% !important;
    }

    .page #quote h1 {
        font-size: 3em;
    }

    .blog #quote h1 {
        font-size: 3em;
    }

    .highlight-quote {
        font-size: 3.5em;
    }

    .header-content {
        width: 100%;
        max-width: 100% !important;
    }

    .content-wrapper {
        max-width: 100% !important;
    }

    .header-menu .header-menu-item {
        font-size: 1.1em;
        margin-right: 15px;
    }

    .header-menu {
        float: right;
        margin-top: 15px !important;
        margin-right: 25px;
    }

    .header-destinations-list-wrapper {
        position: absolute;
        right: 20px;
    }

    .instagram-link {
        visibility: hidden;
    }

    .page-content {
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }

    .bottom-blocks {
        padding-left: 50px;
        padding-right: 50px;
    }

    #right-content {
        margin-left: 0;
        margin-right: 30px;
    }
}