.blogpost:hover {
    opacity: 100%;
}

@media only screen and (max-width: 768px) {
    .logo-txt {
        font-size: 0.7em !important;
    }

    .logo-img {
        width: 30px !important;
    }

    #banner-country-label {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 900px) {
    h2 {
        font-weight: 700;
    }

    .blogpost-header h3 a
    {
        font-synthesis: weight !important;
    }

    #quote-sub {
        font-size: 0.8em;
    }

    .header-menu {
        width: 50%;
    }

    .photo-album-img-wrapper-full {
        margin-left: -15px !important;
        width: calc(100vw) !important;
    }

    .photo-album-img-full {
        width: calc(100vw);
    }

    .paragraph {
        font-size: 0.9em !important;
    }

    .page-content ul li {
        font-size: 0.9em !important;
    }

    #quote {
        font-size: 2em;
    }

    .blog #quote {
        font-size: 1.7em;
    }

    .homepage #quote {
        font-size: 1.5em;
    }

    .blog #quote-country {
        font-size: 0.9em;
    }
}