.blogpost:hover {
    opacity: 100%;
}

@media only screen and (max-width: 768px) {
    .logo img {
        margin-top: 25px;
    }

    .logo img {
        width: 180px !important;
    }

    #mobile-navigation .logo img {
        width: 200px;
    }

    #banner-country-label {
        font-size: 0.8em;
        padding: 8px;
    }
}

@media only screen and (max-width: 900px) {
    h2 {
        font-weight: 700;
    }

    .blogpost-header h3 a
    {
        font-synthesis: weight !important;
    }

    #quote-sub {
        font-size: 0.8em;
    }

    .header-menu {
        width: 50%;
    }

    .photo-album-img-wrapper-full {
        width: calc(100vw) !important;
    }

    .photo-album-img-wrapper-full-portrait {
        width: calc(50vw - 7px) !important;
    }

    .photo-album-img-full-portrait {
        width: calc(50vw - 7px) !important;
    }

    .photo-album-img-wrapper-full-portrait > img {
        width: calc(50vw - 7px) !important;
    }

    .paragraph {
        font-size: 0.9em !important;
    }

    .separator-zelfregelen .zelf-regelen-value {
        font-size: 0.9em !important;
    }

    .page-content ul li {
        font-size: 0.9em !important;
    }

    #quote {
        font-size: 2em;
    }

    .blog #quote {
        font-size: 1.7em;
    }

    .homepage #quote {
        font-size: 1.5em;
    }

    .blog #quote-country {
        font-size: 0.9em;
    }
}