@media only screen and (max-width: 768px) {
    .page-content {
        margin-top: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    h1 {
        font-size: 1.7em;
    }

    .no_banner h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .destinations {
    }

    .paragraph-wrapper-fullscreen {
        width: 100% !important;
    }

    .paragraph-half-left {
        float: initial;
    }

    #article-comment-form {
        width: 100%;
    }

    #article-comment-form form {
        width: 100%;
    }

    .blogposts-wrapper {
        width: auto;
        display: block;
    }

    .blogposts .blogpost:not(:first-child) {
        margin: 0;
        margin-top: 20px;
    }

    .blogposts .blogpost {
        height: inherit;
        width: 100% !important;
        margin-left: 0px;
    }

    .blogpost-header h3 a
    {
        left: -5px;
        font-weight: 700;
        font-size: 18px;
    }

    .blogpost {
        width: 100%;
        max-width: none !important;
        height: 330px !important;
    }

    .blogpost img
    {
        height: 330px;
    }

    .blogpost .description {
        height: inherit;
    }

    .contact-form-field textarea {
        width: 95%;
    }

    .photo-album-img-wrapper-full {
        margin-left: -15px !important;
        width: calc(100vw - 15px) !important;
    }

    .photo-album-img-wrapper-full-portrait {
        width: calc(50vw - 15px) !important;
    }

    .photo-album-img-wrapper-full-portrait > picture {
        width: calc(50vw - 15px) !important;
    }

    .photo-album-img-full-portrait-margin {
        margin-left: 29px;
    }

    .blog #quote h1 {
        font-size: 2.3em;
    }

    .page #quote h1 {
        font-size: 2.2em;
    }

    .homepage #quote h1 {
        font-size: 1.1em;
    }

    #title h1 {
        font-size: 2em;
        margin-left: 15px;
    }

    .blog #quote-wrapper {
        margin-bottom: 10% !important;
    }

    .blog #quote {
        width: 100% !important;
    }

    .highlight-quote {
        font-size: 1.8em;
    }

    .highlight-subtitle {
        font-size: 1em;
        font-weight: 800;
    }

    .highlight-blogpost {
        height: 700px;
        margin-top: 10px;
    }

    .green-button {
        font-size: 0.9em;
        margin-top: 30px;
    }

    .highlight-tag {
        font-size: 0.9em;
    }

    .homepage #quote {
        font-size: 2em;
    }

    #country-info {
        width: 100%;
    }

    .bottom-blocks .right-block-green img {
        width: 30%;
    }

    .bottom-blocks .right-block h3 {
        margin-top: 0;
    }

    .bottom-blocks .right-block-green p {
        width: 60%;
    }

    .bottom-blocks .right-block-green {
        margin-bottom: 30px;
    }

    .content h3 {
        font-size: 1.2em;
        font-weight: 800;
    }

    .page-content .table-of-contents h3 {
        font-size: 1.5em;
    }

    .separator-zelfregelen {
        overflow-y: auto;
        height: fit-content;
    }

    .zelfregelen-container {
        display: block;
        height: fit-content;
    }

    .zelfregelen-container img {
        float: initial !important;
    }

    .zelfregelen-container > div {
        width: 100%;
        max-width: none;
        height: fit-content;
    }

    .zelfregelen-container .zelf-regelen-list {
        margin: 25px auto auto;
        width: 100%;
        max-width: 500px;
    }

    .page_with_right_block .page-content .zelf-regelen-value a {
        font-weight: 600;
    }

}