@font-face {
    font-family: Raleway;
    src: url(/static/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Violante;
    src: url(/static/fonts/Violante-eZoYg.ttf);
}

@font-face {
    font-family: AmericanCaptain;
    src: url(/static/fonts/AmericanCaptain-MdEY.otf);
}

:root {
    --green: #4f8972;
    --lightgreen: #e9f2ec;
    --verylightgreen: #f4f7f5;
    --intermediategreen: #c7e1d0;
    --button-hover-color: #054922;
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-synthesis: style !important;
}

#mobile-navigation {
    width: 0vw;
    max-width: 500px;
    z-index: 80;
    height: 100dvh;
    position: fixed;
    overflow-y: scroll;
    background-color: white;
    color: #000000;
    text-decoration: none;
}

#mobile-navigation .logo img{
    width: 200px;
}

#mobile-navigation .logo-img {
    margin-top: 10px;
}

#mobile-navigation ul {
    padding-left: 20px;
}

#mobile-navigation ul li {
    font-weight: bold;
    font-size: 1.3em;
    list-style-type: none;
    line-height: 2.5em;
}

#mobile-navigation-social-media {
    margin-left: 20px;
    margin-bottom: 30px;
}

#header-wrapper-2 .header-menu-link:hover {
    color: var(--green) !important;
}

#header-wrapper-1 .header-menu-link:hover {
    border-bottom: 1px solid #ffffff;
}

.nav {
    padding-left: 0;
}

.instagram-link {
    position: absolute;
    right: 25px;
    top: 20px;
    border-radius: 50%;
    padding: 10px 10px 5px 10px
}

.instagram-link img {
    width: 30px;
}

.instagram-link:hover {
    background-color: var(--green);
}

#header-wrapper-2 .instagram-link img {
    filter: invert(100%);
    margin-top: -13px;
}

#header-wrapper-2 .instagram-link {
    padding: 20px 10px 5px 10px
}

#header-wrapper-2 .instagram-link:hover img {
    filter: none;
}

#mobile-navigation-social-media img {
    width: 30px;
    filter: grayscale(100%);
    margin-right: 10px;
}

#mobile-navigation-social-media img:hover {
    filter: none;
}

#mobile-navigation ul li a {
    text-decoration: none;
    color: black;
}

#mobile-navigation ul li .selected {
    color: var(--green);
}

#mobile-navigation ul li a:hover {
    color: var(--green);
}

#mobile-navigation .logo-img {
    margin-top: 10px;
    filter: none;
}

#mobile-nav .destinations {
    float: none;
    font-size: 0.8em !important;
    line-height: 1.6em;
    width: fit-content;
}

#mobile-navigation-logo {
    padding-top: 10px;
}

#mobile-nav .destinations:not(:first-child) {
    margin: 0;
}

#mobile-destinations-wrapper {
    display: none;
    margin-left: 20px;
}

#mobile-nav .destinations h3 {
    line-height: 1.8em;
    padding: 0;
    font-size: 1.1em;
}

#mobile-destinations-button {
    width: 15px;
    cursor: pointer;
}

#mobile-destinations-link {
    cursor: pointer;
}

#mobile-nav .destinations-title {
    width: fit-content;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

#mobile-navigation-close-button {
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 15px;
    cursor: pointer;
}

#mobile-navigation-close-link {
    margin-top: 10px;
    text-decoration: none;
    color: #000000;
}

.mandatory-star {
    color: red;
}

.logo {
    margin-left: 25px;
}

.logo img {
    margin-top: 20px;
    width: 210px;
    filter: invert(1);
}

.no_banner .logo img {
    filter: none;
}

#header-wrapper-2 .logo img {
    filter: none;
    margin-top: 15px;
}

#crumb_path {
    margin-top: 20px;
}

#crumb_path a {
    font-weight: 600;
}

.error-field {
    border: 1px solid red;
}

.contact-form-container {
    width: 100%;
    margin: auto;
    overflow: auto;
}

.contact-form-field {
    overflow: auto;
    clear: both;
    margin-bottom: 15px;
}

.contact-form-field label {
    float: left;
    min-width: 200px;
}

.contact-form-field input {
    min-width: 260px;
}

.contact-form-field textarea {
    width: 60%;
    height: 250px;
}

#cookie-consent-banner-content {
    overflow: auto;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}

#cookie-consent-banner {
    box-shadow: 2px 10px 30px 0px rgb(0 0 0 / 20%);
    display: none;
    font-size: 0.9em;
    border-radius: 20px;
    max-width: 85%;
    max-height: 85%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 500px;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    background-color: #ffffff;
    color: #000000;
    position: fixed;
}

.cookie-consent-option-block {
    padding: 10px;
    background-color: #f1f1f1;
    margin-bottom: 15px;
    overflow: auto;
}

.cookie-consent-button-gray {
    background-color: #f1f1f1 !important;
    color: #000000 !important;
}

.cookie-consent-options {
    clear: both;
    margin-bottom: 10px;
    display: none;
    text-align: left;
}

.cookie-consent-button {
    float: left !important;
    padding: 15px !important;
}

.cookie-consent-button:hover {
    cursor: pointer;
}

.cookie-consent-option-block span {
    font-weight: bold;
    margin-bottom: 5px;
}

.cookie-consent-option-block label {
    float: right;
}

.contact-form-field button, .consent-buttons button {
    background-color: var(--green);
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    float: left;
    border-radius: 5px;
}

.consent-buttons {
    display: table;
    margin: auto;
}

.consent-buttons .consent-button-not-last {
    margin-right: 10px;
}

.contact-form-field button:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

html, body {
    margin: 0px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}

#root-wrapper {
    width: 100%;
}

#header-wrapper-1, #header-wrapper-2 {
    position: absolute;
    top: 0;
    height: 77px;
    color: #ffffff;
    width: 100%;
    z-index: 10;
}

#header-wrapper-2 {
    background-color: #ffffff;
    display: none;
    position: fixed;
    border-bottom: 2px solid lightgrey;
}

#header-wrapper-2 .header-menu {
    height: 75px;
    margin-top: 30px;
}

.header-content {
    width: 100%;
    overflow: auto;
}

h2 {
    color: #000000;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 2.3em;
    font-weight: 900;
    line-height: 1.3em;
    clear: both;
}

h3 {
    margin-bottom: 5px;
    color: #000000;
    font-weight: bold;
}

.header-title {
    float: left;
    font-size: 2em;
    height: 75px;
    overflow: hidden;
}

.no_banner #header-wrapper-1 .header-title a {
    color: #000000;
}

#header-wrapper-1 .header-title a {
    color: #ffffff;
}

#header-wrapper-2 .header-title a {
    color: #000000;
}

.header-title a {
    text-decoration: none;
}

.fullscreen_page #title-container {
    display: block;
}

.fullscreen_page .blogposts h2 {
    margin-top: 35px;
    margin-bottom: 25px;
}

.header-menu {
    width: fit-content;
    margin: 35px auto auto;
    font-size: 1em;
}

.mobile-hamburger-menu {
    position: fixed;
    top: 45px;
    background-color: var(--green);
    right: -8px;
    transform: translate(-50%, -58%);
    margin-right: 0;
    display: none;
    float: right;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    z-index: 99;
}

.mobile-hamburger-menu img {
    filter: invert(1);
    margin-top: 10px;
    width: 25px;
    margin-left: 10px;
    height: 25px;
}

#nav-top {
    z-index: 1;
    position: fixed;
    display: none;
    bottom: 30px;
    right: 15px;
    background-color: var(--green);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

#nav-top svg {
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.header-menu .header-menu-item {
    display: inline;
    margin-right: 25px;
    font-weight: 900;
    font-size: 1.15em;
    text-transform: uppercase;
}

#nav-2 .header-menu-item {
    font-weight: 800;
}

.header-destinations-list {
    text-transform: none;
}

.header-menu .header-menu-item:last-child {
    margin-right: 0;
}

.no_banner #header-wrapper-1 .header-menu .header-menu-item > a {
    color: #000000;
}

#header-wrapper-1 .header-menu .header-menu-item > a {
    color: #ffffff;
}

#header-wrapper-2 .header-menu .header-menu-item a {
    color: #000000;
}

.header-menu .header-menu-item a {
    text-decoration: none;
}

#header-wrapper-1 .header-menu .header-menu-item > a.selected {
    color: #ffffff;
}

.no_banner #header-wrapper-1 .header-menu .header-menu-item > a.selected {
    color: var(--green);
    border-bottom: 1px solid var(--green);
}

#header-wrapper-2 .header-menu .header-menu-item a.selected {
    color: var(--green);
    font-weight: 800;
    border-bottom: 1px solid var(--green);
}

.header-menu .header-menu-item a.selected {
    font-weight: 900;
    padding-bottom: 3px;
    border-bottom: 1px solid #ffffff;
}

.header-menu-destinations-link {
    cursor: pointer;
}

.header-menu .header-destinations-list-wrapper {
    cursor: auto;
}

.header-menu-destinations-link:hover > .header-destinations-list-wrapper {
    opacity: 1;
    visibility: visible;
}

#header-wrapper-1 .header-destinations-list {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#header-wrapper-2 .header-destinations-list {
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.header-destinations-list-wrapper {
    position: absolute;
    top: 50px;
    opacity: 0;
    visibility: hidden;
    width: 670px;
    border-top: 22px solid rgba(255, 255, 255, .0);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}

.destination a {
    font-weight: 500;
}

.header-destinations-list-wrapper .destination-entry a {
    color: black;
    font-size: 0.8em;
    font-weight: 500;
}

.header-destinations-list-wrapper a:hover {
    color: var(--green) !important;
}

.header-destinations-list-wrapper h3 {
    font-size: 0.8em;
}

.header-destinations-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0 15px;
    max-height: 400px;
    background-color: white;
    overflow: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    padding: 35px;
}

.header-destinations-list h3 {
    color: white;
    padding: 6px;
}

.header-destinations-list .destination-entry {
    font-size: 1.1em;
    display: block !important;
    line-height: 35px;
}

.header-destinations-list .destination {
    width: 180px;
}

.destination-title {
    background-color: var(--green);
    text-align: center;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.9em !important;
    font-weight: 700;
}

.header-destinations-list .destination-title:not(:first-child) {
    margin-top: 15px;
}

#banner img {
    width: 100%;
    max-height: 100dvh;
}

#banner {
    display: flex;
    width: 100%;
    height: 100dvh;
    min-height: 600px;
}

#banner-wrapper {
    width: 100%;
    overflow: hidden;
    min-height: 600px;
}

.content-wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    width: 90%;
    gap: 50px;
    margin: auto;
}

.colored_page .content-top-odd {
    background-color: var(--lightgreen);
}

.colored_page .content-top-even {
    background-color: #ffffff;
}

.colored_page .content-top {
    overflow: auto;
}

.page-content {
    scroll-behavior: smooth;
    float: left;
    font-size: 1em;
    padding-bottom: 20px;
    line-height: 1.3em;
}

.fullscreen_page {
    max-width: 1300px;
    text-align: center;
}

.content a {
    color: var(--green);
    font-weight: 700;
    text-decoration: none;
    font-synthesis: weight;
}

.content h3 {
    font-size: 1.5em;
    font-weight: 900;
}

.content a.internal {
    background-color: #f3faf2;
    font-weight: 800;
}

.content a:hover {
    color: var(--green);
    text-decoration: underline;
}

.right-block {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.right-block ul {
    margin-left: -20px;
    margin-bottom: 0;
}

.right-block .table-of-contents h3 {
    display: none;
}

.right-block .table-of-contents ul {
    margin-top: -5px;
}

.right-block img {
    border-radius: 5px;
}

.right-block::-webkit-scrollbar {
    width: 10px;
}

.right-block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.right-block::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#right-content {
    min-width: 300px;
    max-width: 300px;
    margin-top: 30px;
}

.bottom-blocks-related-articles {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

#bottom-blocks-wrapper {
    margin-top: 40px;
    padding-bottom: 40px;
    background-color: var(--lightgreen);
    overflow-y: auto;
}

.bottom-blocks-related-articles .blogposts-wrapper {
    gap: 10px;
}

.bottom-blocks-related-articles .blogpost {
    width: 393px !important;
    max-width: 30%;
}

.bottom-blocks-related-articles h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.bottom-blocks-related-articles .green-button {
    margin-top: 40px;
}

.bottom-blocks {
    clear: both;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 550px;
    margin: 40px auto auto;
}

.bottom-blocks-article {
    margin-top: 0 !important;
}

.bottom-blocks p {
    width: 60%;
    float: left;
}

.bottom-blocks .wie-zijn-wij {
    border-radius: 50%;
    float: right;
    width: 35%;
}

.bottom-blocks h3 {
    color: white;
}

.bottom-blocks .right-block {
    max-height: none;
}

.bottom-blocks-narrow {
    display: none;
}

.bottom-blocks .right-block-wrapper {
    margin-top: 30 !important;
}

.right-block-wrapper {
    padding: 10px 10px 20px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 10%);
}

.right-block-green {
    background-color: var(--green);
}

.right-block-zelf-regelen {
    box-shadow: none;
    padding-left: 0;
}

.right-block-green {
    margin-top: 30px;
}

.right-block-zelf-regelen h3, .right-block-zelf-regelen a {
    color: #000000 !important;
}

.right-block-zelf-regelen h3 {
    text-align: left !important;
    margin-bottom: 25px !important;
    font-size: 1.4em;
}

.zelf-regelen-value {
    height: 50px;
    display : flex;
    align-items : center;
}

.zelf-regelen-value a {
    text-decoration: underline;
}

.zelf-regelen-value a:hover {
    color: var(--green) !important;
}

.zelf-regelen-value p {
    margin: 0;
    width: 100%;
}

.zelf-regelen-icon {
    width: 30px;
    float: left;
    margin-right: 10px;
    background-color: var(--lightgreen);
    padding: 8px;
    border-radius: 50%;
    display : flex;
    align-items : center;
}

.zelf-regelen-icon img {
    width: 30px;
}

.separator-zelfregelen {
    width: fit-content;
    overflow: auto;
    margin: 40px auto auto;
}

.zelfregelen-container {
    overflow: auto;
    margin: auto;
    align-items: center;
    flex-direction: row;
    display: flex;
    gap: 40px;
}

.zelfregelen-container > .img-default-container > img {
    width: 100%;
    margin-top: 0;
}

.zelfregelen-container > div {
    max-width: 400px;
}

.separator-zelfregelen .zelf-regelen-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.separator-zelfregelen .zelf-regelen-value {
    height: fit-content;
}

.separator-zelfregelen .zelf-regelen-icon {
    background-color: var(--green);
    width: 25px;
}

.separator-zelfregelen .zelf-regelen-icon img {
    filter: invert(1);
    width: 25px;
}

.separator-zelfregelen .default-img-left {
    margin-top: 0;
}

.right-block .zelf-regelen-wrapper:not(:last-child) {
    margin-bottom: 15px;
}

.zelf-regelen-wrapper {
    height: fit-content;
}

.zelf-regelen-list > .zelf-regelen-wrapper:not(:last-child) {
    margin-bottom: 20px;
}

.fullscreen_page .zelf-regelen-wrapper p {
    text-align: left;
}

#toc-block-wrapper {
    background-color: white;
    margin-top: 15px;
}

#toc-block-wrapper a {
    color: var(--green) !important;
}

#toc-block-wrapper h3 {
    color: white !important;
    background-color: var(--green);
    width: 100px;
    padding: 5px 10px;
    margin: -25px auto 15px !important;
}

#toc-block-wrapper li::marker {
    color: var(--green) !important;
}

table, th, td {
    border: 1px solid var(--green);
    border-collapse: collapse;
}

#right-content-sticker {
    position: sticky;
    top: 40px;
}

#right-content .right-block-zelf-regelen {
    margin-top: 30px;
}

#right-content a {
    color: white;
    font-weight: 600;
}

#right-content h3 {
    color: white;
    font-weight: 900;
    text-align: center;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 15px;
}

#right-content .paragraph-justified {
    padding-top: 0;
}

.paragraph-left {
    text-align: left !important;
}

#right-content h2 {
    margin-top: 0;
}

.highlight-quote-wrapper {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.highlight-quote-content {
    width: 1200px;
    max-width: 90%;
}

.highlight-blogpost {
    margin-top: 30px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlight-quote {
    width: 100%;
    text-align: left;
    font-size: 4em;
    color: white;
    font-weight: 800;
    margin-bottom: 15px;
}

.green-button {
    background-color: var(--green);
    margin: 55px 0 0;
    padding: 10px;
    width: fit-content;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    font-size: 1.1em;
}

.highlight-tag {
    background-color: rgb(255, 255, 255, 0.5);
    width: fit-content;
    margin: 0 0 10px;
    padding: 7px 10px;
    border-radius: 30px;
    color: white;
    font-weight: 800;
}

.green-button:hover {
    background-color: var(--button-hover-color);
}

.green-button {
    text-decoration: none;
    color: white;
    margin-top: 50px;
    display: block;
}

.highlight-subtitle {
    font-size: 1.3em;
    font-weight: 700;
    color: white;
}

#footer {
    color: #ffffff;
    text-align: center;
    overflow-y: auto;
    padding-bottom: 20px;
    clear: both;
}

#footer #footer-content {
    width: 900px;
    margin: auto;
}

#contact-panes {
    margin: auto;
}

#footer-content p {
    clear: both;
}

#attributions {
    color: gray;
    font-size: 0.7em;
}

.social-media {
    width: 100%;
    margin: auto;
}

.social-media img {
    filter: grayscale(1);
    width: 40px;
    height: 40px;
}

.social-media img:hover {
    filter: grayscale(0);
}

.social-media img:not(.last) {
    margin-right: 5px;
}

#copyright {
    margin-bottom: 5px;
}

#copyright a {
    color: var(--green);
    text-decoration: none;
}

#copyright a:hover {
    text-decoration: underline;
}

#powered-by {
    font-style: italic;
    font-size: 0.8em;
    color: #000000;
}

#powered-by a {
    text-decoration: none;
    color: var(--green)
}

#powered-by a:hover {
    text-decoration: underline;
}

#quote-wrapper {
    color: white;
}

.blog #quote-wrapper {
    max-width: 1200px;
    width: 100%;
    top: initial;
    margin-bottom: 9%;
}

#quote {
    font-size: 4.5em;
    text-align: center;
    margin: auto;
    font-weight: 800;
    color: #ffffff;
}

.blog #quote {
    width: 80%;
    font-size: 4em;
    text-align: left;
    margin: initial;
}

#quote-sub {
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

.blog #quote-country {
    text-align: left;
    margin-bottom: 5px;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 3px;
}

.homepage #quote {
    font-size: 3.5em;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: 800;
    line-height: 110%;
}

.no_banner h1 {
    font-size: 2.8em;
    font-weight: 900;
}

.page-content ul {
    padding-left: 25px;
}

.page-content li {
    line-height: 1.8em;
    text-align: left !important;
}

li::marker {
    color: var(--green);
}

li span {
    color: black;
}

.paragraph-justified {
    text-align: justify;
}

.paragraph-half {
    width: 48%;
}

.paragraph-half-left {
    margin-right: 4%;
    float: left;
}

.paragraph-half-right {
    float: right;
}

.paragraph-tip {
    background-color: #eff6ee;
    font-style: italic;
    padding: 20px;
}

.paragraph-tip a {
    font-style: italic;
    font-synthesis: unset;
}

.paragraph-wrapper-fullscreen {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.article-intro {
    font-weight: 800;
    font-size: 1.1em;
}

.page-content .paragraph {
    line-height: 1.9em;
}

.fullscreen_page .paragraph {
    line-height: 2.1em;
}

#banner-country-label {
    margin: 0 0 15px;
    background-color: var(--green);
    padding: 10px;
    width: fit-content;
    border-radius: 20px;
    font-size: 0.9em;
}

.paragraph-home {
    text-align: center;
    margin-top: 0px;
    clear: both;
}

.blogposts {
    overflow-y: auto;
    clear: both;
}

.blogposts .blogpost {
    width: 400px;
    position: relative;
}

.blogposts-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.category {
    display: none;
}

.category-button {
    background-color: var(--lightgreen);
    border-radius: 40px;
    color: black;
    padding: 7px 10px;
    width: fit-content;
    margin: auto;
    display: inline;
    cursor: pointer;
    border: 1px solid var(--green);
}

.category-button:hover {
    opacity: 70%;
}

.category-button:not(:first-child) {
    margin-left: 5px;
}

.category-button-selected {
    font-weight: bold;
    background-color: var(--green);
    color: white;
}

.category-selector {
    margin-bottom: 25px;
    margin-top: 40px;
}

.blogpost-header h3 a
{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
    line-height: 1.2;
    font-size: 23px;
    font-weight: 800;
    text-align: left;
    margin: 0;
    color: #fff;
}

.blogpost-term-list {
    top: 0;
    position: absolute;
    padding-left: 25px;
    margin-top: 30px;
}

.blogpost-term {
    display: inline;
    color: #ffffff;
    background: rgba(255, 255, 255, .4);
    padding: 10px 12px 10px 12px;
    border-radius: 25px;
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 7px;
}

.blogpost h3 a:hover {
    color: #fff;
    text-decoration: none;
}

.page_with_right_block .blogposts-wrapper {
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
}

.page_with_right_block .blogpost {
    max-width: 48%;
    width: fit-content;
}

.blogposts:first-child {
    clear: both;
}

.blogpost {
    overflow: hidden;
    height: 475px;
}

.blogpost img {
    border-radius: 7px;
    height: 475px;
    object-fit: cover;
}

.blogposts-wrapper-smaller-badges .blogpost, .blogposts-wrapper-smaller-badges img {
    height: 300px
}

.blogposts-wrapper-smaller-badges {
    margin-bottom: 15px;
}

.blogpost:hover {
    opacity: 80%;
}

.blogpost a {
    text-decoration: none;
    color: var(--green);
}

.blogpost a:hover {
    text-decoration: none;
    color: darkgray;
}

#country-info {
    display: flex;
    justify-content: center;
    margin: 35px auto 30px;
    gap: 45px;
    flex-wrap: wrap;
}

.country-info-entry-wrapper {
    max-width: 260px;
}

.country-info-icon {
    width: fit-content;
    height: 30px;
    float: left;
    padding: 12px;
    border-radius: 50%;
    background-color: var(--lightgreen);
    margin: auto auto 5px;
}

.country-info-icon img {
    width: 30px;
}

.country-info-value {
    font-size: 0.8em;
    font-weight: bold;
    float: left;
    margin-top: 7px;
    text-align: left;
    margin-left: 10px;
}

.country-info-value p:nth-child(2) {
    font-weight: normal;
}

.country-info-value p:nth-child(1) {
    text-transform: uppercase;
    font-size: 0.8em;
}

.country-info-value p {
    padding: 0;
    margin: 0;
}

.separator-green-row {
    padding-top: 5px;
    padding-bottom: 20px;
    overflow-y: auto;
    display: block;
    box-shadow: 0 0 0 100vmax var(--lightgreen);
    clip-path: inset(0 -100vmax);
    background-color: var(--lightgreen);
    max-width: 80%;
    margin: 40px auto auto;
}

.separator-green-row h2 {
    margin-bottom: 30px;
}

.country-tip-block {
    height: fit-content;
    width: 100%;
    margin-bottom: 30px;
    border-spacing: 30px;
}

.country-tip-title {
    text-align: left;
    font-weight: bold;
}

.country-tip-block .text a {
    font-weight: 700;
    background-color: transparent;
}

.country-tip-block .text {
    text-align: justify;
    line-height: 1.8em;
}

.country-tip-block h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
    text-align: left;
}

.paragraph-center {
    text-align: center;
}

.default-img {
    margin-top: 20px;
}

.default-img-left {
    margin-right: 4%;
}

.default-img-circle {
    border-radius: 25px;
}

.destinations:not(:first-child) {
    margin-left: 20px;
}

.jarallax {
    display: flex;
    min-height: 600px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    z-index: -1;
}

.blog .jarallax {
    max-width: 1200px;
    width: 90%;
    justify-content: end;
    margin: auto;
}

.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    min-height: 600px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: -1;
}

.photo-album {
    width: 100%;
    margin: auto;
}

.photo-album-clear {
    clear: both;
}

.photo-album-img {
    float: left;
    margin-bottom: 10px;
}

.six-frame > .photo-album-img:first-child {
    width: 100%;
}

.six-frame > .photo-album-img:nth-child(3) {
    margin-left: 2%;
}

.six-frame > .photo-album-img:nth-child(n+2):nth-child(-n+3) {
    width: 49%;
}

.six-frame > .photo-album-img:nth-child(n+4):nth-child(-n+6) {
    width: 32%;
}

.six-frame > .photo-album-img:nth-child(n+5):nth-child(-n+6) {
    margin-left: 2%
}

.five-frame > .photo-album-img:first-child {
    width: 100%;
}

.five-frame > .photo-album-img:nth-child(3) {
    margin-left: 2%;
}

.five-frame > .photo-album-img:nth-child(n+2):nth-child(-n+5) {
    width: 49%;
}

.five-frame > .photo-album-img:nth-child(5) {
    margin-left: 2%;
}

.four-frame > .photo-album-img:first-child {
    width: 100%;
}

.four-frame > .photo-album-img:nth-child(n+2) {
    width: 32%;
}

.four-frame > .photo-album-img:nth-child(n+3):nth-child(-n+4) {
    margin-left: 1%;
}

.two-frame > .photo-album-img {
    width: 49%;
}

.two-frame > .photo-album-img:nth-child(2) {
    margin-left: 2%;
}

.three-frame > .photo-album-img {
    width: 32%;
}

.three-frame > .photo-album-img:nth-child(n+2):nth-child(-n+3) {
    margin-left: 1%;
}

.photo-album-img > img {
    width: 100%;
}

.fullscreen_page .photo-album-img > img {
    max-width: 800px;
}

.anchor {
    display: block;
    top: -90px;
    position: relative;
}

#article-comments {
    padding-top: 15px;
}

#article-comments a {
    color: var(--green);
}

.blog-item-comment {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #edf7eb;
}

.blog-item-comment-child {
    margin-left: 50px;
}

.blog-item-comment .timestamp {
    font-size: 0.8em;
}

.blog-item-comment .name {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
}

#right-content .table-of-contents {
    display: block;
    line-height: 160%;
}

.page-content .table-of-contents {
    display: none;
}

.page-content .table-of-contents a {
    font-weight: 600;
}

#respond-to-container {
    margin-bottom: 10px;
}

#respond-to-name {
    color: var(--green);
    font-style: italic;
    margin-right: 15px;
}

#top-wrapper {
    height: 100dvh;
    min-height: 600px;
}

.no_banner #top-wrapper {
    height: 95px !important;
    min-height: initial;
}

#stop-respond {
    color: rgb(128, 128, 128) !important;
    font-size: 0.8em;
}

#article-comments-wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto auto;
}

#article-comment-form {
    padding-top: 15px;
}

#article-comments-alignment-wrapper {
    margin: auto;
    width: 75%;
}

.grecaptcha-badge {
    visibility: hidden !important;
}

#sitewide-pages {
    margin-top: 20px;
    color: #000000;
}

#sitewide-pages a {
    font-size: 0.8em;
    text-decoration: none;
    color: #000000;
}

#sitewide-pages a:hover {
    text-decoration: underline;
}