@media only screen and (max-width: 1000px) {
    body {
        width: 100%;
    }

    .content-wrapper {
        width: 100%;
    }

    .blogposts-wrapper {
        flex-wrap: wrap;
    }

    .blog .jarallax {
        width: 100%;
        max-width: none;
    }

    .page-content {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    #right-content {
        display: none;
    }

    .bottom-blocks-narrow {
        display: block;
    }

    #right-content .table-of-contents {
        display: none;
    }

    .page-content .table-of-contents {
        display: block;
    }

    #cookie-consent-banner {
        border-radius: 20px 20px 0px 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        max-width: 100%;
    }

    .consent-buttons {
        display: block;
    }

    #country-tips {
        float: none;
        overflow: auto;
        margin: unset;
        max-width: none;
    }

    #country-tips-wrapper {
        flex-wrap: wrap;
    }

    .country-tip-block {
        max-width: none;
        width: 100%;
        height: fit-content;
    }

    #country-info {
        justify-content: center;
        gap: 30px !important;
        width: 80%;
    }

    .country-info-icon {
        height: 25px;
    }

    .country-info-icon img {
        width: 25px;
    }

    .country-info-entry-wrapper {
        flex: 1 1 0px;
    }

    .country-info-value {
        text-align: center !important;
        float: none;
        clear: both;
        margin-left: 0;
    }

    .country-info-icon {
        float: none;
    }

    .cookie-consent-button {
        width: 100% !important;
        margin-bottom: 10px;
    }

    #title h1 {
        text-align: left !important;
        margin-left: 15px;
    }

    .no_banner h2 {
        text-align: left !important;
    }

    .no_banner .paragraph-home {
        text-align: left !important;
    }

    .paragraph-half {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .default-img {
        margin-right: 0;
        width: 100% !important;
    }

    .logo {
        margin-left: 15px;
    }

    #quote {
        font-size: 4.3em;
    }

    .blog #quote {
        font-size: 3em;
        width: 100%;
    }

    .blog #quote-wrapper {
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
    }

    .highlight-quote {
        font-size: 3em;
        width: 100%;
    }

    .page_with_right_block .blogposts-wrapper {
        display: flex;
    }

    .page_with_right_block .blogposts-wrapper .blogpost {
        max-width: 48%;
    }

    .page_with_right_block .blogposts-wrapper .blogpost:not(:first-child) {
        margin-top: 0;
    }

    .fullscreen_page .blogposts-wrapper .blogpost {
        max-width: 48%;
    }

    .bottom-blocks {
        padding-left: 15px;
        padding-right: 15px;
    }

    #quote-sub {
        margin-left: 15px;
        margin-right: 15px;
    }

    #header-wrapper-2 {
        display: none !important;
    }

    .mobile-hamburger-menu {
        display: block;
    }

    .logo-img {
        margin-top: 25px;
        width: 35px;
    }

    .logo-txt {
        font-size: 0.8em;
    }

    .header-title {
        width: 85%;
        height: 80px;
    }

    .header-content {
        position: absolute;
        top: -5px;
    }

    #header-wrapper-1 {
        height: 63px;
    }

    .header-menu {
        margin-top: 0px;
        width: 30%;
        display: none !important;
        position: fixed;
        right: 0px;
        top: 75px;
        background-color: #699e65;
        text-transform: none;
        z-index: 999;
    }

    .header-menu li {
        line-height: 160%;
        display: block;
        margin-bottom: 10px;
        font-size: 1em;
    }

    .header-menu li a.selected {
        font-weight: bold;
    }

    .nav {
        padding-left: 15px;
    }

    .social-media img {
        width: 40px;
        height: 40px;
    }

    #footer #footer-content {
        width: 100%;
        margin: auto;
    }

    #contact-panes {
        width: 100%;
    }
}