@font-face {
    font-family: Raleway;
    src: url(/static/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Violante;
    src: url(/static/fonts/Violante-eZoYg.ttf);
}

.mandatory-star {
    color: red;
}

.logo {
    font-family: Violante;
    font-size: 2em;
    font-weight: bold;
    margin-left: 30px;
}

.error-field {
    border: 1px solid red;
}

.form-error {
    color: red;
}

.contact-form-container {
    width: 670px;
    margin: auto;
    overflow: auto;
}

.contact-form-field {
    overflow: auto;
    clear: both;
    margin-bottom: 15px;
}

.contact-form-field label {
    float: left;
    min-width: 200px;
}

.contact-form-field input {
    min-width: 260px;
}

.contact-form-field textarea {
    width: 464px;
    height: 250px;
}

.contact-form-field button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    float: right;
}

.contact-form-field button:hover {
    background-color: #054922;
    cursor: pointer;
}

html, body {
    margin: 0px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}

#root-wrapper {
    width: 100%;
}

#header-wrapper {
    position: fixed;
    top: 0;
    background-color: green;
    height: 69px;
    color: #ffffff;
    width: 100%;
}

#header-content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
}

h2 {
    color: green;
    font-size: 1.5em;
    font-weight: normal;
}

h3 {
    margin-bottom: 5px;
}

#header-title {
    font-size: 2em;
    width: 250px;
    float: left;
}

#header-title a {
    text-decoration: none;
    color: #ffffff;
}

#header-menu {
    float: left;
    margin-top: 10px;
}

#header-menu li {
    display: inline;
    margin-right: 15px;
    text-transform: uppercase
}

#header-menu a {
    text-decoration: none;
    color: #ffffff;
}

#header-menu li.selected a {
    color: #000000;
    padding-bottom: 3px;
    border-bottom: 2px solid #000000;
}

#header-menu a:hover {
    color: #000000;
}

#banner img {
    width: 100%;
    max-height: 100%;
}

#banner {
    display: flex;
    width: 100%;
    margin-top: 69px;
}

#banner-wrapper {
    width: 100%;
    overflow: hidden;
}

#content-wrapper {
    width: 1410px;
    overflow-y: auto;
    margin: auto;
}

#page-content {
    float: left;
    font-size: 1em;
    overflow-y: auto;
    padding-bottom: 20px;
    line-height: 1.3em;
    width: 900px;
}

.homepage {
    width: 1400px !important;
}

.content a {
    color: green;
    text-decoration: none;
}

.content a:hover {
    color: green;
    text-decoration: underline;
}

.right-block {
    max-height: 550px;
    padding-right: 10px;
    overflow-y: scroll;
}

#right-content {
    float: left;
    width: 400px;
    padding: 25px;
    margin-left: 35px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 10%);
}

#right-content h2 {
    text-align: center;
}

#right-content .paragraph-justified {
    padding-top: 0px;
}

#right-content h2 {
    margin-top: 0px;
}

#footer {
    background-color: #000000;
    height: 160px;
    color: #ffffff;
    text-align: center;
    border-top: 5px solid green;
    overflow-y: auto;
}

#footer #footer-content {
    width: 900px;
    margin: auto;
}

#footer .contact {
    width: 250px;
    height: 100px;
    color: gray;
    font-style: italic;
    float: left;
    overflow-y: auto;
    font-size: 0.8em;
}

#contact-panes {
    height: 100px;
    margin: auto;
    width: 750px;
}

#footer-content p {
    clear: both;
}

.social-media {
    width: 100%;
    margin: auto;
}

.social-media img {
    filter: grayscale(1);
    width: 25px;
    height: 25px;
}

.social-media img:hover {
    filter: grayscale(0);
}

.social-media img:not(.last) {
    margin-right: 5px;
}

#copyright a {
    color: green;
    text-decoration: none;
}

#copyright a:hover {
    text-decoration: underline;
}

#title-wrapper {
    padding: 5px;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 190px;
    width: 1400px;
    height: 30px; 
    color: white;
}

#title {
    font-family: Raleway;
    font-size: 3em;
    text-align: center;
    margin: auto;
    margin-top: 3px;
    font-weight: bold;
}

#title-sub {
    text-align: center;
}

#title-container {
    border-bottom: 2px solid rgb(8, 71, 36, 0.3);
}

h1 {
    text-align: center;
    color: green;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: normal;
}

h3 {
    color: green;
}

h4 {
    margin-bottom: 0px;
}

.paragraph-justified {
    text-align: justify;
}

.paragraph-h4 {
    margin-top: 0px;
}

.paragraph-home {
    text-align: justify;
    width: 900px;
    float: left;
    margin-right: 25px;
    margin-top: 0px;
}

.blogpost {
    width: 275px;
    float: left;
    margin-left: 25px;
    margin-bottom: 15px;
}

.blogpost .title {
    font-size: 1.5em;
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: center;
}

.blogpost a {
    text-decoration: none;
    color: green;
}

.blogpost a:hover {
    text-decoration: none;
    color: darkgray;
}

.blogpost .date {
    font-size: 0.8em;
    margin: 0px;
    margin-top: 3px;
    text-align: center;
}

.blogpost .description {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: justify;
    height: 130px;
}

/* ELEMENTS */
.paragraph-center {
    text-align: center;
}

.jarallax {
    width: 100%;
    position: inherit;
    height: 500px;
    z-index: -1;
  }

.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.photo-album {
    margin: auto;
    overflow: auto;
}

.photo-album-img {
    float: left;
    margin-bottom: 15px;
}

.photo-album-img.not-first {
    margin-left: 15px;
} 

.photo-album-subtitle {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}
.photo-album-subtitle p {
    margin-top: -16px;
}

.anchor {
    display: block;
    top: -80px;
    position: relative;
}

#article-comments {
    padding-top: 15px;
}

.blog-item-comment {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #edf7eb;
}
.blog-item-comment-child {
    margin-left: 50px;
}

.blog-item-comment .timestamp {
    font-size: 0.8em;
}

.blog-item-comment .name {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
}

#respond-to-container {
    margin-bottom: 10px;
}

#respond-to-name {
    color: green;
    font-style: italic;
    margin-right: 15px;
}

#stop-respond {
    color: gray !important;
    font-size: 0.8em;
}

#article-comment-form {
    border-top: 2px solid rgb(8, 71, 36, 0.3);
    padding-top: 15px;
    margin: auto;
}

.table-of-contents {
    line-height: 160%;
}

/* MOBILE STYLES */

@media only screen and (hover: none) and (pointer: coarse) {

    body {
        width: 100%;
    }
    
    #root-wrapper {
        width: 100%;
        overflow-x: auto;
    }

    #header-wrapper {
        position: relative;
        height: 100px;
        width: 100%;
    }

    #page-content {
        font-size: 40px;
        text-align: left;
        width: 100%;
    }   

    #header-menu {
        display: none;
    }

    #mobile-menu img {
        filter: invert(1);
        width: 80px;
    }

    #mobile-menu {
        float: right;
        margin-right: 15px;
    }

    .blogpost {
        height: 580px;
        width: 95%;
        text-align: center;
    }

    #header-menu {
        position: absolute;
        left: 50%;
        font-size: 3em;
        background-color: #000000;
        width: 50%;
        z-index: 999;
    }

    #header-menu li {
        display: block;
        margin-bottom: 10px;
    }

    #content-wrapper {
        width: 100%;
    }

    .social-media img {
        filter: grayscale(1);
        width: 40px;
        height: 40px;
    }

    #footer {
        height: 500px;
    }
    
    #footer #footer-content {
        font-size: 30px;
        width: 100%;
        margin: auto;
    }

    #footer .contact {
        width: 100%;
        height: 130px;
    }

    #copyright {
        padding-top: 20px;
    }
}