@font-face {
    font-family: Raleway;
    src: url(/static/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Violante;
    src: url(/static/fonts/Violante-eZoYg.ttf);
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.mandatory-star {
    color: red;
}

.logo {
    font-family: Violante;
    font-size: 2em;
    font-weight: bold;
}

.logo-img {
    filter: invert(1);
    width: 50px;
    margin-top: 10px;
}

.logo-txt {
    margin-left: -8px;
}

#crumb_path {
    margin-top: 15px;
}

.error-field {
    border: 1px solid red;
}

.form-error {
    color: red;
}

.contact-form-container {
    width: 100%;
    margin: auto;
    overflow: auto;
}

.contact-form-field {
    overflow: auto;
    clear: both;
    margin-bottom: 15px;
}

.contact-form-field label {
    float: left;
    min-width: 200px;
}

.contact-form-field input {
    min-width: 260px;
}

.contact-form-field textarea {
    width: 60%;
    height: 250px;
}

.contact-form-field button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    float: right;
}

.contact-form-field button:hover {
    background-color: #054922;
    cursor: pointer;
}

html, body {
    margin: 0px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}

#root-wrapper {
    width: 100%;
}

#header-wrapper {
    position: fixed;
    top: 0;
    background-image: linear-gradient(rgb(14, 140, 14), rgb(1, 73, 1));
    height: 85px;
    color: #ffffff;
    width: 100%;
}

#header-content {
    width: 85%;
    margin: auto;
    overflow: auto;
}

h2 {
    color: green;
    font-size: 1.5em;
    font-weight: normal;
}

h3 {
    margin-bottom: 5px;
    color: green;
}

#header-title {
    width: 35%;
    font-size: 2em;
    display: inline;
}

#header-title a {
    text-decoration: none;
    color: #ffffff;
}

#header-menu {    
    float: right;
    margin-top: 20px;
    font-size: 1em;
}

#mobile-menu {
    position: absolute;
    top: 50%; right: 0;
    transform: translate(-50%,-58%);
    margin-right: 0px;
    display: none;
    float: right;
    filter: invert(1);
}

#header-menu li {
    display: inline;
    margin-right: 15px;
    text-transform: uppercase;
}

#header-menu a {
    text-decoration: none;
    color: #ffffff;
}

#header-menu li a.selected {
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 3px;
    border-bottom: 1px solid #ffffff;
}

#banner img {
    width: 100%;
    max-height: 100%;
}

#banner {
    display: flex;
    width: 100%;
    margin-top: 69px;
    height: 60vh;
}

#banner-wrapper {
    width: 100%;
    overflow: hidden;
}

#content-wrapper {
    width: 85%;
    overflow-y: auto;
    margin: auto;
}

#page-content {
    scroll-behavior: smooth;
    float: left;
    font-size: 1em;
    overflow-y: auto;
    padding-bottom: 20px;
    line-height: 1.3em;
    width: 66%;
}

.homepage {
    width: 100% !important;
}

.content a {
    color: green;
    text-decoration: none;
}

.content a:hover {
    color: green;
    text-decoration: underline;
}

.right-block {
    max-height: 500px;
    overflow-y: scroll;
}

.no_scroll {
    overflow-y: auto;
}

.right-block::-webkit-scrollbar {
    width: 10px;
}

.right-block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.right-block::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#right-content {
    width: 26%;
    float: left;
    padding: 1%;
    margin-left: 3%;
    margin-bottom: 2%;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 10%);
}

#right-content h2 {
    text-align: center;
}

#right-content .paragraph-justified {
    padding-top: 0px;
}

#right-content h2 {
    margin-top: 0px;
}

#footer {
    background-color: #000000;
    height: 160px;
    color: #ffffff;
    text-align: center;
    border-top: 5px solid green;
    overflow-y: auto;
}

#footer #footer-content {
    width: 900px;
    margin: auto;
}

#footer .contact {
    width: 250px;
    height: 100px;
    color: gray;
    font-style: italic;
    float: left;
    overflow-y: auto;
    font-size: 0.8em;
}

#contact-panes {
    height: 100px;
    margin: auto;
    width: 750px;
}

#footer-content p {
    clear: both;
}

.social-media {
    width: 100%;
    margin: auto;
}

.social-media img {
    filter: grayscale(1);
    width: 25px;
    height: 25px;
}

.social-media img:hover {
    filter: grayscale(0);
}

.social-media img:not(.last) {
    margin-right: 5px;
}

#copyright a {
    color: green;
    text-decoration: none;
}

#copyright a:hover {
    text-decoration: underline;
}

#quote-wrapper {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px;
    overflow: auto;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
    color: white;
}

#quote {
    font-family: Violante;
    font-size: 6em;
    text-align: center;
    margin: auto;
    font-weight: bold;
}

#quote-sub {
    text-align: center;
}

h1 {
    text-align: center;
    color: green;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: normal;
    line-height: 110%;
}

h4 {
    margin-bottom: 0px;
}

li {
    color: green;
}

li span {
    color: black;
}

.paragraph-justified {
    text-align: justify;
}

.paragraph-h4 {
    margin-top: 0px;
}

.paragraph-home {
    text-align: justify;
    width: 60%;
    float: left;
    margin-right: 25px;
    margin-top: 0px;
}

.blogposts {
    overflow-y: auto;
}

.blogposts .blogpost {
    width: 32%;
    float: left;
    margin-bottom: 3%;
}

.blogposts .blogpost-two-by-two {
    width: 49%; 
}

.blogposts .not-first {
    margin-left: 2%;
}

.blogposts .first {
    clear: both;
}

.blogpost .title {
    font-size: 1.5em;
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: center;
}

.blogpost a {
    text-decoration: none;
    color: green;
}

.blogpost a:hover {
    text-decoration: none;
    color: darkgray;
}

.blogpost .date {
    font-size: 0.8em;
    margin: 0px;
    margin-top: 3px;
    text-align: center;
}

.blogpost .description {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: justify;
}

.paragraph-center {
    text-align: center;
}

.jarallax {
    width: 100%;
    position: inherit;
    height: 100%;
    z-index: -1;
  }

.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.photo-album {
    width: 100%;
    margin: auto;
    overflow: auto;
}

.photo-album-img {
    float: left;
    margin-bottom: 10px;
}

.six-frame > .photo-album-img:first-child {
    width: 100%;
}

.six-frame > .photo-album-img:nth-child(3) {
    margin-left: 2%;
}

.six-frame > .photo-album-img:nth-child(n+2):nth-child(-n+3) {
    width: 49%;
}

.six-frame > .photo-album-img:nth-child(n+4):nth-child(-n+6) {
    width: 32%;
}

.six-frame > .photo-album-img:nth-child(n+5):nth-child(-n+6) {
    margin-left: 2%
}

.four-frame > .photo-album-img:first-child {
    width: 100%;
}

.four-frame > .photo-album-img:nth-child(n+2) {
    width: 32%;
}

.four-frame > .photo-album-img:nth-child(n+3):nth-child(-n+4) {
    margin-left: 1%;
}

.two-frame > .photo-album-img {
    width: 49%;
}

.two-frame > .photo-album-img:nth-child(2) {
    margin-left: 2%;
}

.three-frame > .photo-album-img {
    width: 32%;
}

.three-frame > .photo-album-img:nth-child(n+2):nth-child(-n+3) {
    margin-left: 1%;
}

.photo-album-img > img {
    width: 100%;
}

.photo-album-subtitle {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

.photo-album-subtitle p {
    margin-top: -5px;
}

.anchor {
    display: block;
    top: -90px;
    position: relative;
}

#article-comments {
    padding-top: 15px;
}

.blog-item-comment {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #edf7eb;
}
.blog-item-comment-child {
    margin-left: 50px;
}

.blog-item-comment .timestamp {
    font-size: 0.8em;
}

.blog-item-comment .name {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
}

#right-content .table-of-contents {
    display: block;
    line-height: 160%;
}

#page-content .table-of-contents {
    display: none;
}

#respond-to-container {
    margin-bottom: 10px;
}

#respond-to-name {
    color: green;
    font-style: italic;
    margin-right: 15px;
}

#stop-respond {
    color: gray !important;
    font-size: 0.8em;
}

#article-comment-form {
    border-top: 2px solid rgb(8, 71, 36, 0.3);
    padding-top: 15px;
    margin: auto;
}

@media only screen and (max-width: 1100px) {

    #banner-wrapper {
        display: none;
    }

    #header-wrapper {
        position: relative;
        overflow-y: auto;
    }
    
    .paragraph-home {
        width: 100%;
    }

    #content-wrapper {
        width: 100%;
    }

    #header-content {
        width: 100%;
    }

    .logo {
        margin-left: 15px;
    }

    #right-content {
        display: none;
    }
    
    #right-content .table-of-contents {
        display: none;
    }
    
    #page-content .table-of-contents {
        display: block;
    }

    #page-content {
        display: block;
        width: 100%;
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box; 
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 900px) {
    body {
        width: 100%;
    }

    #mobile-menu {
        display: block;
    }

    #mobile-menu img {
        width: 40px;
        margin-top: 15px
    }

    h3 {
        font-weight: normal;
    }

    #header-title {
        width: 85%;
    }

    #header-menu {
        margin-top: 0px;
        width: 30%;
        display: none;
        position: fixed;
        right: 0px;
        top: 69px;
        background-color: green;
        text-transform: none;
        max-width: 550px;
        z-index: 999;
    }

    #header-menu li {
        line-height: 160%;
        display: block;
        margin-bottom: 10px;
    }

    .social-media img {
        filter: grayscale(1);
        width: 40px;
        height: 40px;
    }
    
    .paragraph-home {
        width: 100%;
    }
    
    #footer {
        height: 370px;
    }

    #footer #footer-content {
        width: 100%;
        margin: auto;
    }

    #footer .contact {
        width: 100%;
        height: 100px;
    }

    #copyright {
        padding-top: 20px;
    }

    #contact-panes {
        width: 100%;
    }

    .photo-album-img {
        width: 100% !important;
        margin-left: 0% !important;
    }
}

@media only screen and (max-width: 600px) {
    .blogposts .blogpost {
        height: inherit;
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }

    .blogpost .description {
        height: inherit;
    }

    .contact-form-field textarea {
        width: 95%;
    }

    #header-menu {
        width: 50%;
    }

    h1 {
        text-align: left;
    }
}