@media only screen and (max-width: 900px) {
    #quote {
        font-size: 2em;
    }

    #quote-sub {
        font-size: 0.8em;
    }

    .header-menu {
        width: 50%;
    }

    #banner-wrapper {
        height: 91vh;
    }

    .photo-album-img {
        margin-left: -15px !important;
        width: calc(100vw) !important;
    }

    .photo-album-img img {
        width: calc(100vw);
    }
}