@font-face {
    font-family: Raleway;
    src: url(/static/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Violante;
    src: url(/static/fonts/Violante-eZoYg.ttf);
}

@font-face {
    font-family: AmericanCaptain;
    src: url(/static/fonts/AmericanCaptain-MdEY.otf);
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

#divider {
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-top: -8.7vh;
    z-index: 1;
}

#divider svg {
    position: relative;
    display: block;
    width: calc(170% + 1.3px);
    height: 8vh;
    transform: rotateY(180deg);
}

#divider .shape-fill {
    fill: #FFFFFF;
}

.mandatory-star {
    color: red;
}

.logo {
    font-family: Violante;
    font-size: 2em;
    font-weight: bold;
}

.logo-img {
    -webkit-filter: drop-shadow(5px 5px 5px #ffffff);
    filter: drop-shadow(0px 0px 5px #ffffff);
    width: 50px;
    margin-top: 10px;
}

.logo-txt {
    margin-left: -8px;
    text-shadow: #ffffff 0px 0px 5px;
}

#crumb_path {
    margin-top: 20px;
}

.error-field {
    border: 1px solid red;
}

.form-error {
    color: red;
}

.contact-form-container {
    width: 100%;
    margin: auto;
    overflow: auto;
}

.contact-form-field {
    overflow: auto;
    clear: both;
    margin-bottom: 15px;
}

.contact-form-field label {
    float: left;
    min-width: 200px;
}

.contact-form-field input {
    min-width: 260px;
}

.contact-form-field textarea {
    width: 60%;
    height: 250px;
}

.contact-form-field button {
    background-color: #53914e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    float: right;
}

.contact-form-field button:hover {
    background-color: #054922;
    cursor: pointer;
}

html, body {
    margin: 0px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}

#root-wrapper {
    width: 100%;
}

#header-wrapper-1, #header-wrapper-2 {
    position: absolute;
    top: 0;
    height: 84px;
    color: #ffffff;
    width: 100%;
    z-index: 10;
}

#header-wrapper-2 {
    background-color: #699e65;
    display: none;
    position: fixed;
}

#header-content {
    width: 85%;
    margin: auto;
    overflow: auto;
}

h2 {
    color: #53914e;
    margin-top: 35px;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.2em;
}

h3 {
    margin-bottom: 5px;
    color: #53914e;
}

#header-title {
    width: 35%;
    font-size: 2em;
    display: inline;
}

#header-title a {
    text-decoration: none;
    color: #ffffff;
}

#title-container {
    display: none;
}

#header-menu {
    float: right;
    margin-top: 15px;
    font-size: 1em;
}

#mobile-menu {
    position: absolute;
    top: 55%;
    right: 0;
    transform: translate(-50%, -58%);
    margin-right: 0px;
    display: none;
    float: right;
    filter: invert(1);
}

#header-menu li {
    display: inline;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.15em;
}

#header-wrapper-2 #header-menu li {
    font-size: 1em;
    font-weight: bold;
}

#header-menu a {
    text-decoration: none;
    color: #ffffff;
}

#header-menu li a.selected {
    font-weight: 900;
    color: #ffffff;
    padding-bottom: 3px;
    border-bottom: 1px solid #ffffff;
}

#banner img {
    width: 100%;
    max-height: 100%;
}

#banner {
    display: flex;
    width: 100%;
    height: 90vh;
}

#banner-wrapper {
    width: 100%;
    overflow: hidden;
    height: 91vh;
}

#content-wrapper {
    width: 85%;
    overflow-y: auto;
    margin: auto;
}

#page-content {
    scroll-behavior: smooth;
    float: left;
    font-size: 1em;
    overflow-y: auto;
    padding-bottom: 20px;
    line-height: 1.3em;
    width: 66%;
}

.homepage {
    width: 100% !important;
}

.content a {
    color: #53914e;
    text-decoration: none;
}

.content a.internal {
    background-color: rgb(221, 219, 219);
    font-weight: bold;
}

.content a:hover {
    color: #53914e;
    text-decoration: underline;
}

.right-block {
    max-height: 500px;
    overflow-y: scroll;
}

.no_scroll {
    overflow-y: auto;
}

.right-block::-webkit-scrollbar {
    width: 10px;
}

.right-block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.right-block::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#right-content {
    width: 26%;
    float: left;
    padding: 1%;
    margin-left: 3%;
    margin-bottom: 2%;
    margin-top: 30px;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 10%);
}

#right-content h2 {
    text-align: center;
}

#right-content .paragraph-justified {
    padding-top: 0px;
}

#right-content h2 {
    margin-top: 0px;
}

#footer {
    background-color: #000000;
    height: 180px;
    color: #ffffff;
    text-align: center;
    border-top: 5px solid #53914e;
    overflow-y: auto;
}

#footer #footer-content {
    width: 900px;
    margin: auto;
}

#footer .contact {
    width: 250px;
    height: 100px;
    color: rgb(195, 195, 195);
    font-style: italic;
    float: left;
    overflow-y: auto;
    font-size: 0.8em;
}

#contact-panes {
    height: 100px;
    margin: auto;
    width: 750px;
}

#footer-content p {
    clear: both;
}

.social-media {
    width: 100%;
    margin: auto;
}

.social-media img {
    filter: grayscale(1);
    width: 25px;
    height: 25px;
}

.social-media img:hover {
    filter: grayscale(0);
}

.social-media img:not(.last) {
    margin-right: 5px;
}

#copyright {
    margin-bottom: 5px;
}

#copyright a {
    color: #53914e;
    text-decoration: none;
}

#copyright a:hover {
    text-decoration: underline;
}

#powered-by {
    font-style: italic;
    font-size: 0.8em;
    color: darkgray;
}

#powered-by a {
    text-decoration: none;
    color: darkgray;
}

#powered-by a:hover {
    text-decoration: underline;
}

#quote-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: white;
}

#quote {
    font-family: AmericanCaptain;
    font-size: 5.5em;
    text-align: center;
    margin: auto;
    font-weight: 550;
    text-transform: uppercase;
}

#quote-sub {
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

h1 {
    text-align: center;
    color: #53914e;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: normal;
    line-height: 110%;
}

h4 {
    margin-bottom: 0px;
}

#page-content li {
    line-height: 1.8em;
}

li {
    color: #53914e;
}

li span {
    color: black;
}

.paragraph-justified {
    text-align: justify;
}

.paragraph-tip {
    background-color: #eff6ee;
    font-style: italic;
    padding: 20px;
}


.article-intro {
    font-weight: 600;
}

#page-content .paragraph-justified {
    line-height: 1.8em;
}

.paragraph-h4 {
    margin-top: 0px;
}

.paragraph-home {
    text-align: justify;
    width: 60%;
    float: left;
    margin-right: 25px;
    margin-top: 0px;
}

.blogposts {
    overflow-y: auto;
}

.blogposts .blogpost {
    width: 32%;
    float: left;
    margin-bottom: 3%;
}

.blogposts .blogpost-two-by-two {
    width: 49%;
}

.blogposts .not-first {
    margin-left: 2%;
}

.blogposts .first {
    clear: both;
}

.blogpost .title {
    line-height: 1.2em;
    font-size: 1.5em;
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: center;
}

.blogpost a {
    text-decoration: none;
    color: #53914e;
}

.blogpost a:hover {
    text-decoration: none;
    color: darkgray;
}

.blogpost .date {
    font-size: 0.8em;
    margin: 0px;
    margin-top: 3px;
    text-align: center;
}

.blogpost .description {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: justify;
}

.paragraph-center {
    text-align: center;
}

.destinations {
    width: 30%;
    float: left;
}

.jarallax {
    width: 100%;
    z-index: -1;
}

.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    z-index: -1;
}

.photo-album {
    width: 100%;
    margin: auto;
    overflow: auto;
}

.photo-album-img {
    float: left;
    margin-bottom: 10px;
}

.six-frame > .photo-album-img:first-child {
    width: 100%;
}

.six-frame > .photo-album-img:nth-child(3) {
    margin-left: 2%;
}

.six-frame > .photo-album-img:nth-child(n+2):nth-child(-n+3) {
    width: 49%;
}

.six-frame > .photo-album-img:nth-child(n+4):nth-child(-n+6) {
    width: 32%;
}

.six-frame > .photo-album-img:nth-child(n+5):nth-child(-n+6) {
    margin-left: 2%
}

.four-frame > .photo-album-img:first-child {
    width: 100%;
}

.four-frame > .photo-album-img:nth-child(n+2) {
    width: 32%;
}

.four-frame > .photo-album-img:nth-child(n+3):nth-child(-n+4) {
    margin-left: 1%;
}

.two-frame > .photo-album-img {
    width: 49%;
}

.two-frame > .photo-album-img:nth-child(2) {
    margin-left: 2%;
}

.three-frame > .photo-album-img {
    width: 32%;
}

.three-frame > .photo-album-img:nth-child(n+2):nth-child(-n+3) {
    margin-left: 1%;
}

.photo-album-img > img {
    width: 100%;
}

.photo-album-subtitle {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

.photo-album-subtitle p {
    margin-top: -5px;
}

.anchor {
    display: block;
    top: -90px;
    position: relative;
}

#article-comments {
    padding-top: 15px;
}

.blog-item-comment {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #edf7eb;
}

.blog-item-comment-child {
    margin-left: 50px;
}

.blog-item-comment .timestamp {
    font-size: 0.8em;
}

.blog-item-comment .name {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
}

#right-content .table-of-contents {
    display: block;
    line-height: 160%;
}

#page-content .table-of-contents {
    display: none;
}

#respond-to-container {
    margin-bottom: 10px;
}

#respond-to-name {
    color: #53914e;
    font-style: italic;
    margin-right: 15px;
}

#stop-respond {
    color: rgb(128, 128, 128) !important;
    font-size: 0.8em;
}

#article-comment-form {
    border-top: 2px solid rgb(8, 71, 36, 0.3);
    padding-top: 15px;
    margin: auto;
}

.grecaptcha-badge {
    visibility: hidden !important;
}

@media only screen and (max-width: 1100px) {

    #banner-wrapper {
        display: none;
    }

    #title-container {
        display: block;
    }

    #crumb_path {
        margin-top: 15px;
    }

    #divider {
        display: none;
    }

    #header-wrapper-1 {
        position: relative;
        background-color: #699e65;
        overflow-y: auto;
    }

    #header-wrapper-2 {
        display: none;
    }

    .paragraph-home {
        width: 100%;
    }

    #content-wrapper {
        width: 100%;
    }

    #header-content {
        width: 100%;
    }

    .logo {
        margin-left: 15px;
    }

    #right-content {
        display: none;
    }

    #right-content .table-of-contents {
        display: none;
    }

    #page-content .table-of-contents {
        display: block;
    }

    #page-content {
        display: block;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 900px) {
    body {
        width: 100%;
    }

    #mobile-menu {
        display: block;
    }

    #mobile-menu img {
        width: 30px;
        margin-top: 15px
    }

    .logo-img {
        width: 30px;
    }

    .logo-txt {
        font-size: 0.6em;
    }

    h3 {
        font-weight: normal;
    }

    #header-title {
        width: 85%;
    }

    #header-content {
        position: absolute;
        top: -20%;
    }

    #header-wrapper-1 {
        height: 63px;
    }

    #header-menu {
        margin-top: 0px;
        width: 30%;
        display: none;
        position: fixed;
        right: 0px;
        top: 60px;
        background-color: #699e65;
        text-transform: none;
        max-width: 550px;
        z-index: 999;
    }

    #header-menu li {
        line-height: 160%;
        display: block;
        margin-bottom: 10px;
        font-size: 1em;
        font-weight: 300;
    }

    #header-menu li a.selected {
        font-weight: bold;
    }

    #nav {
        padding-left: 15px;
    }

    .social-media img {
        width: 40px;
        height: 40px;
    }

    .paragraph-home {
        width: 100%;
    }

    #footer {
        height: 380px;
    }

    #footer #footer-content {
        width: 100%;
        margin: auto;
    }

    #footer .contact {
        width: 100%;
        height: 100px;
    }

    #copyright {
        padding-top: 20px;
    }

    #contact-panes {
        width: 100%;
    }

    .photo-album-img {
        width: 100% !important;
        margin-left: 0% !important;
    }
}

@media only screen and (max-width: 600px) {
    .blogposts .blogpost {
        height: inherit;
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }

    .blogpost .description {
        height: inherit;
    }

    .contact-form-field textarea {
        width: 95%;
    }

    #header-menu {
        width: 50%;
    }

}